* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #ffd0a8;
}

header .logo {
    max-width: 50px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    padding: 15px;
    display: block;
}

header .navbar ul li a:hover {
    color: #ffbdaa;
}

.active {
    color: #ffbdaa;
}

#menu-bar {
    display: none;
}

header label {
    cursor: pointer;
    display: none;
}

/* Website details and words */

.contents {
    margin-top: 8em;
    display: flex;
    justify-content: center;
    background-color: springgreen;
}



@media only screen and (max-width:700px) {

    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 0);
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }

/* Website details and words mobile version and small tweaks */
    .contents {
        margin-top: 10em;
        justify-content: center;
    }
}