/* This makes the whole page load with 0 margin on the sides and padding */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

.navbar {
    background: lightblue;
    height: 4em;
    width: 100%;
}

/* this selects every label element with the id logo **supposed to be a class but well  */
label#logo {
    background-color: aqua;
    line-height: 60px;
    padding: 0 100px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    padding: .6em 1.3em;
    border-radius: 3em;
    text-transform: uppercase;
}

/* selects the active link based on the html an transforms the hovered a tags */
a.active, a:hover {
    background: blue;
    transition: .5s;
}

